.homescreen__header {
    display: flex;
    width: 360px;
    justify-content: space-between;
    align-items: center;
}

.header__menuSandwichIcon {
    height: 21px;
}

.header__newSearch {
    height: 24px;
}