.homescreen__header {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
}

.header__menuSandwichIcon {
    height: 2.5vh;
}

.header__newSearch {
    height: 2.8vh;
}