
.menu {
    width: 308px;
    height: 800px;
    background-color: white;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.menu__section {
    border-top: 1px;
    border-style: solid;
    border-color: #49454F;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 308px;
}
.section__title{
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 308px;
}
.menu__account{
    height: 40px;
    width: 292px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}
.account__image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.account__name{
    width: 148px;
    font-size: 16px;
    white-space: pre;
}
.menu__accountContainer{
    background-color: #1E1E1E;
    height: 68px;
    width: 308px;
    display: flex;
    color: white;    
    justify-content: center;
    align-items: center;
}
.menu__historyContainer{
    height: 800px;
    width: 308px;
    overflow-y: scroll;
}